.login_component{
    form{
        width: 50%;
        padding: 35px;
        margin: 30px auto;
        border: 1px solid #d3d2d2;
        border-radius: 20px;
        text-align: center;
        h3{
            color: $primary;
            font-size: 48px;
            font-weight: 600;
        }
        .form_input_wrap{
            margin-bottom: 15px;
            .label{
                display: block;
                font-size: 18px;
                font-weight: 500;
                margin: 10px;
                text-align: left;
                color: $primary;
            }
            input{
                width: 100%;
                padding: 10px 20px;
                border: none;
                border-radius: 25px;
                border: 1px solid $primary;
                
            }
        }
        p{
            margin: 10px 0;
        }
    }
}