*{margin: 0;padding: 0;}
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: $text_color;
    font-weight: 400;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.submit_btn{
    padding: 8px 35px;
    border: 1px solid $primary;
    color: $primary;
    border-radius: 25px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
    &:hover{
        background-color: $primary;
        color: #fff;
    }
}

.product_rating {
    margin-bottom: 10px;
    .rating_star{
        svg{
            color: $primary;
            font-size: 16px;
        }
    }
    p{
        font-size: 14px;
        color: #333333;
    }
}